/* Navbar.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #111;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    color: aqua;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #09202e;
    }

    .navbar a {
        display: block;
        padding: 10px;
        margin-left: 30px;
        color: white;
        text-decoration: none;
    }

    .menu-icon {
        display: block;
    }

    .navbar.active {
        display: flex;
    }
}